---
import Row from "../../layouts/Row";
import Button from "../ui/Button";
import leftThingSvgReference from "/icons/left-thing.svg";
import rightThingSvgReference from "/icons/right-thing.svg";
import leftThingMobileSvgReference from "/icons/left-thing-mobile.svg";
import rightThingMobileSvgReference from "/icons/right-thing-mobile.svg";
import arrowSvgReference from "/icons/arrow.svg";
import astericksSvgReference from "/icons/astericks.svg";
import { Picture } from "astro-imagetools/components";
---

<div
  class="full-width-section relative bg-10 pt-16 text-center md:mb-32 md:pt-32 lg:pt-36"
>
  <div class="absolute inset-0 w-full px-3 md:h-[80%] md:px-4 lg:h-[70%]">
    <div class="h-full w-full rounded-b-3xl bg-bg"></div>
  </div>
  <Row
    className="relative mb-12 flex flex-col gap-6 md:mb-12 md:gap-12 md:px-16 lg:gap-8 max-w-[400px] mx-auto md:max-w-none"
  >
    <div
      class="relative z-10 flex animate-fadeFromBottom flex-col px-6 md:gap-2 md:px-0 lg:mx-auto lg:max-w-[45rem] lg:gap-2"
    >
      <h1 class="relative">
        Elevate your online presence <span class="hidden md:inline"
          >with a stunning website</span
        ><img
          src={arrowSvgReference}
          class="absolute top-[-30px] left-[-20px] md:left-[-8px]"
          alt="arrow decoration"
          width="50px"
        />
        <img
          src={astericksSvgReference}
          class="absolute bottom-[-120px] right-[-10px] ml-1 md:inline"
          alt="arrow decoration"
          width="40px"
        />
      </h1>
    </div>
    <p
      class="body lg:subtitle z-10 animate-fadeFromBottom px-6 md:px-0 lg:mx-auto lg:max-w-[45rem]"
    >
      We design and hand-code beautiful websites that stand out from your
      competitors<span class="hidden md:inline"
        >, with unlimited support, on-going maintenance and hosting</span
      ><span class="md:hidden">.</span>
    </p>
  </Row>
  <Row>
    <div class="mb-12 md:hidden">
      <div class="mt-8 flex h-[334px] items-center justify-center">
        <div
          class="absolute max-w-[180px] -translate-y-[80px] animate-fadeFromTopGallery rounded-xl shadow-md"
        >
          <Picture
            height={400}
            width={360}
            src={"/images/gallery1.png"}
            alt="Example website - cafe"
            sizes="(min-width:0px)"
            fit="cover"
            loading="eager"
          />
        </div>
        <div
          class="absolute z-20 max-w-[180px] -translate-x-[80px] translate-y-[40px] animate-fadeFromLeftGallery rounded-xl shadow-md"
        >
          <Picture
            height={400}
            width={360}
            src={"/images/gallery2.png"}
            alt="Example website - coffee shop"
            sizes="(min-width:0px)"
            fit="cover"
            loading="eager"
          />
        </div>
        <div
          class="absolute z-10 max-w-[180px] translate-x-[80px] translate-y-[80px] animate-fadeFromRightGallery rounded-xl shadow-md"
        >
          <Picture
            height={400}
            width={360}
            src={"/images/gallery3.png"}
            alt="Example website - physiotherapy clinic"
            sizes="(min-width:0px)"
            fit="cover"
            loading="eager"
          />
        </div>
      </div>
    </div>
  </Row>
  <Row
    className="mb-16 md:mb-24 animate-fadeFromBottom lg:mb-28 mt-12 flex-col md:flex-row md:mt-0 flex justify-center gap-6 md:gap-4"
  >
    <a href="/pricing">
      <Button full={false}>Get a free consult</Button>
    </a>
    <a href="/pricing">
      <Button full={false} secondary>See plans</Button>
    </a>
  </Row>
  <Row>
    <div class="hidden flex-row justify-center gap-4 md:flex">
      <div class="animate-fadeFromBottom1 rounded-3xl shadow-sm">
        <Picture
          height={371}
          width={334}
          src={"/images/gallery1.png"}
          alt="Example website - physiotherapy clinic"
          breakpoints={[226, 334]}
          loading="eager"
          sizes="(max-width: 1280px) 226px, 334px)"
        />
      </div>
      <div class="animate-fadeFromBottom3 rounded-3xl shadow-sm">
        <Picture
          height={371}
          width={334}
          src={"/images/gallery2.png"}
          alt="Example website - cafe"
          breakpoints={[226, 334]}
          loading="eager"
        />
      </div>
      <div class="animate-fadeFromBottom5 rounded-3xl shadow-sm">
        <Picture
          height={371}
          width={334}
          src={"/images/gallery3.png"}
          alt="Example website - coffee shop"
          breakpoints={[226, 334]}
          loading="eager"
        />
      </div>
    </div>
  </Row>
</div>
