@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-general text-secondary;
    @apply text-[14px] md:text-[15px] xl:text-[16px];
    font-weight: 400;
    min-height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
    position: relative;
  }

  h1 {
    @apply text-h1Mobile md:text-h1;
  }

  h2 {
    @apply text-h2Mobile md:text-h2;
  }

  .subtitle {
    @apply text-subtitleMobile md:text-subtitle;
  }

  .subtitle-bold {
    @apply text-subtitleMobileBold md:text-subtitleBold;
  }

  .button-large-text {
    @apply text-buttonLMobile md:text-buttonL;
  }

  .logo-text {
    @apply font-logo text-logo;
  }

  .body {
    @apply text-bodyMobile md:text-body;
  }

  .body-bold {
    @apply text-bodyBoldMobile md:text-bodyBold md:text-[20px];
  }

  .body2 {
    @apply text-body2Mobile md:text-body2;
  }

  .button-text {
    @apply text-buttonMobile md:text-button;
  }

  .caption {
    @apply text-caption;
  }
}

@layer components {
  .full-width-section {
    @apply col-sm grid grid-cols-sm grid-rows-max-content gap-x-4 gap-y-0 text-center md:col-md md:grid-cols-md md:gap-x-8 md:text-left lg:col-lg lg:grid-cols-lg;
  }

  .penis {
    @apply grid grid-cols-sm grid-rows-max-content gap-x-4 gap-y-0 md:grid-cols-md md:gap-x-8 lg:grid-cols-lg;
  }

  .full-grid {
    @apply grid min-h-screen grid-cols-sm grid-rows-max-content gap-x-4 gap-y-0 md:grid-cols-md md:gap-x-8 lg:grid-cols-lg;
  }

  /* @apply grid grid-cols-1 gap-y-6 md:grid-cols-2 lg:grid-cols-3;*/

  .wave-container {
    height: 40vh;
    @apply bg-bg;
    position: relative;
  }

  .wave-container::before {
    content: "";
    width: 100%;
    height: 168px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 64vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200 134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 1C19.5523 3 32.2291 5 51.5 9C104.5 19 200 43 300 65C400 88 500 111 600 102C700 93 800 53 900 30C987.526 5 1085.36 -1 1150 0C1169.54 -1 1180.49 0 1200 1V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V1.98128Z' fill='%23ffffff'/></svg>");
  }

  @media (max-width: 850px) {
    .wave-container::before {
      height: 84px;
    }
  }

  .wave-container-small {
    height: 40vh;
    @apply bg-bg;
    position: relative;
  }

  .wave-container-small::before {
    content: "";
    width: 100%;
    height: 123px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 17vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  100' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 73L50 69C100 64 200 55 300 37C400 19 500 -8 600 1C700 10 800 55 900 73C1000 91 1100 82 1150 78L1200 73V100H1150C1100 100 1000 100 900 100C800 100 700 100 600 100C500 100 400 100 300 100C200 100 100 100 50 100H0V73Z' fill='%23ffffff'/></svg>");
  }

  @media (max-width: 850px) {
    .wave-container-small::before {
      height: 61.5px;
    }
  }
}
