---
import Row from "../../layouts/Row";
import { Picture } from "astro-imagetools/components";
import astericksSvgReference from "/icons/astericks.svg";
---

<div class="full-width-section md:mb-16 md:pt-20 lg:mb-10 lg:pt-16" id="about">
  <Row
    className={"mt-8 mb-20 flex flex-col gap-4 text-center md:mb-12 md:mt-0 animate-fadeFromBottom"}
  >
    <p class="subtitle-bold">About Us</p><h2>Meet the pair behind Toastr</h2>
    <div class="absolute bottom-[-52px] w-full md:bottom-[-75%]">
      <img
        src={astericksSvgReference}
        alt="decoration"
        height={42}
        width={42}
        class="mx-auto"
      />
    </div>
  </Row>
</div>
<Row ss={1} es={7}>
  <div
    class="flex flex-col items-center gap-4 lg:flex-row lg:justify-evenly lg:gap-8"
  >
    <div
      class="hidden animate-fadeFromBottom2 overflow-clip rounded-2xl md:block md:max-w-[572px]"
    >
      <Picture
        src={"/images/about.jpg"}
        alt="Alex and Anna"
        breakpoints={[1144]}
        fit="contain"
      />
    </div>
    <div
      class="block max-w-[350px] animate-fadeFromBottom2 overflow-clip rounded-2xl md:hidden"
    >
      <Picture
        src={"/images/about.jpg"}
        alt="Alex and Anna"
        breakpoints={[700]}
        fit="contain"
      />
    </div>
    <div
      class="flex max-w-[400px] animate-fadeFromBottom4 flex-col gap-2 px-8 md:max-w-[584px] md:px-4 md:pb-16 md:pt-4 lg:max-w-[420px] lg:pb-0"
    >
      <p class="subtitle-bold">Who we are</p>
      <p class="body text-left">
        We{"'"}re Alex and Anna, two Sydney based humans who are the proud
        owners of Toastr with a passion for curating beautiful, modern and
        responsive websites.
      </p>
      <p class="subtitle-bold pt-8">Our Mission</p>
      <p class="body text-left">
        Our mission is to build beautiful, professional sites for local
        businesses that stands out from the competition and gets clients through
        their doors.
      </p>
    </div>
  </div>
</Row>
