---
import "../styles/global.css";
import Layout from "../layouts/layout";
import Hero from "../components/hero";
import How from "../components/how";
import Why from "../components/why/index.astro";
---

<head
  ><meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/icons/icon.png" type="image/x-icon" />
  <meta
    name="description"
    content="Your one stop shop for web design and development to build your online presence. Get a beautiful website with Toastr with unlimited edits and technical support."
  />
  <title>
    localhost:3000 - Toastr: Website Design and Development for Small Businesses
  </title>
</head>
<mains>
  <Layout>
    <Hero />
    <How />
    <Why />
  </Layout>
</mains>
